@model DataAccessLayer.Notice

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Notice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NoticeText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoticeDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoticeDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organization.OrganizationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organization.OrganizationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Person.PersonName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person.PersonName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoice.InvoiceNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoice.InvoiceNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
